<div class="jumbotron">
<h1>DePaul University</h1>
  <h3>College of Computing and Digital Media</h3>
  <nav class="navbar-collapse" role="navigation">
    <!--<hr>-->
    <div class="dropdown">
      <!-- class="dropbtn" -->
      <button class="btn-primary btn-sm dropdown-toggle">Plan your degree</button>
      <div class="dropdown-content">
        <a href="#">View courses</a>
        <a href="#">View degree requirements</a>
        <a href="#">Start planning</a>
      </div>
    </div>
    <div class="dropdown">
      <!--  class="dropbtn" -->
      <button class="btn-primary btn-sm dropdown-toggle">Profile</button>
      <div class="dropdown-content">

        <!-- add href = -->
        <a (click)="viewProfile(true)">View profile</a>


        <!-- add href =  -->
        <a (click)="editProfile(true)">Edit profile</a>
      </div>
    </div>
    <div class="dropdown">
      <!-- class="dropbtn" -->
      <button class="btn-primary btn-sm dropdown-toggle">Logout</button>
      <!--<div class="dropdown-content">-->
      <!--</div>-->
    </div>
    <!--<hr>-->
  </nav>
</div>


<!-- Show the component when clicked -->
<app-profile *ngIf="buttonWasCliked"></app-profile>
