<h1> DePaul University</h1>
<h3> College of Computing and Digital Media</h3>
<nav role="navigation">
  <hr>
  <div class="dropdown">
    <button class="dropbtn">Plan your degree</button>
    <div class="dropdown-content">
      <a href="#">View courses</a>
      <a href="#">View degree requirements</a>
      <a href="#">Start planning</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Profile</button>
    <div class="dropdown-content">
      <a href="#">View profile</a>
      <a href="#">Edit profile</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Logout</button>
    <div class="dropdown-content">
    </div>
  </div>
  <hr>
</nav>
<div class="leftsidebar">
  Good afternoon, Mark.<br><br>
  <ul>
    <li>View your <a href="">degree progress plan</a> or <a href="">make a new plan</a>.</li>
    <li>Contact an <a href="">advisor</a></li>
  </ul>
</div>
