<a class="logo" routerLink="/"> <h1 style="margin-bottom: 10px; color: #005FB2">DePaul University </h1></a>
<h4 style="margin-bottom: 10px;margin-top: 0px">College of Computing and Digital Media</h4>
<img src='assets/images/Logo_top.png' style='position:absolute; top:30px; right:30px;' width="140px" height="" alt='' />

<nav role="navigation">
  <div class="navigate">
    <ul>
      <li class="dropdown">
        <a class="dropbtn">Plan your degree</a>
        <div class="dropdown-content">
          <a routerLink="/courses">View courses</a>
          <a routerLink="/requirements">View degree requirements</a>
          <a routerLink="/start-plan">Start planning</a>
        </div>
      </li>
      <li class="dropdown">
        <a class="dropbtn">Profile</a>
        <div class="dropdown-content">
          <a routerLink="/view-profile">View profile</a>
          <a routerLink="/edit-profile">Edit Profile</a>
        </div>
      </li>
      <li style="float:right"><a routerLink="#Logout">Logout</a></li>
    </ul>
  </div>
</nav>
<br>

  <h2>Profile</h2>
<hr>

  <h3>Name: </h3> <p>Robert Colbert</p><br>
  <h3>Address:  </h3> <p>494 Sycamore Road, Lebanon, OR 97355</p><br>
  <h3>DePaul ID:  </h3><p>1478654</p><br>
  <h3>Degree: </h3><p>Computer Science</p><br>
<h3>Email: </h3><p>rcolbert@gmail.com</p><br>
<h3>User Name: </h3><p>rcolbert</p><br>
<div class="form-group">
  <label class="labeling"></label>
  <div class="labelbutton">
    <a href="/edit-profile" class="button">Edit</a>
  </div>
</div>
<hr>

