<h1>Common Pages</h1>
  <a routerLink="/login">Login</a>
  <a routerLink="/optin">Optin</a>
  <a routerLink="/registration-complete">Registration Complete</a>
  <a routerLink="/logged-out">Logged Out</a>
  <a routerLink="**">Not Found</a>
  <a routerLink="/registration">Registration</a>

<h1>Student Pages</h1>
  <a routerLink="/home">Home</a>
  <a routerLink="/courses">View courses</a>
  <a routerLink="/requirements">Requirements</a>
  <a routerLink="/start-plan">Start Plan</a>
  <a routerLink="/degree-progress">Degree Progress</a>
  <a routerLink="/view-profile">View profile</a>
  <a routerLink="/edit-profile">Edit profile</a>
<h1>Faculty Pages</h1>
  <a routerLink="/home-faculty">Home</a>
  <a routerLink="/courses1">View Courses</a>
  <a routerLink="/requirements1">Requirements</a>
  <a routerLink="/start-plan1">Start Plan</a>
  <a routerLink="/degree-progress1">Degree Progress</a>
  <a routerLink="/view-profile2">View profile</a>
  <a routerLink="/view-profile1">View profile Student</a>
  <a routerLink="/edit-profile1">Edit Profile</a>
  <a routerLink="/SearchID">SearchID</a>

<h1>Admin Pages</h1>
  <a routerLink="/home3">Home</a>
  <a routerLink="/courses3">View Courses</a>
  <a routerLink="/requirements3">Requirements</a>
  <a routerLink="/start-plan3">Start Plan</a>
  <a routerLink="/degree-progress3">Degree Progress</a>
  <a routerLink="/view-profile3">View profile</a>
  <a routerLink="/view-profile4">View profile Faculty</a>
  <a routerLink="/view-profile5">View profile Student</a>
  <a routerLink="/edit-profile3">Edit Profile</a>
  <a routerLink="/SearchID3">SearchID</a>
  <a routerLink="/enrollment">Enrollment</a>
  <a routerLink="/classes">Classes</a>
  <a routerLink="/programs">Programs</a>
  <a routerLink="/list-students">Student List</a>
  <a routerLink="/remove">Remove User</a>
