<nav role="navigation">
  <div class="navigate">
    <ul>
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Plan your degree</a>
        <div class="dropdown-content">
          <a href="#courses">View courses</a>
          <a href="#requirements">View degree requirements</a>
          <a href="#startplan">Start planning</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Profile</a>
        <div class="dropdown-content">
          <a href="#viewprofile">View profile</a>
          <a href="#editprofile">Edit Profile</a>
        </div>
      </li>
      <li style="float:right"><a href="#Logout">Logout</a></li>
    </ul>
  </div>
</nav>
<br>
<br>
<div class="leftsidebar">
  Good afternoon, Miko.
  <br>
  <br>
  <ul>
    <li>View your <a href="">degree progress plan</a> or <a href="">make a new plan</a>.</li>
    <li>Contact an <a href="">advisor</a></li>
  </ul>
</div>
