<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <!-- Very bad table lol -->
  <body>
      <div class="container">
          <h2>CDM Courses</h2>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Course ID</th>
                <th>Academic Group</th>
                <th>Subject</th>
                <th>Catalog NBR</th>
                <th>Description</th>
                <th>EFFDT</th>
                <th>EFF_STATUS</th>
                <th>Equivalent Course ID</th>
                <th>Consent</th>
                <th>Allow MultEnroll</th>
                <th>Units_acad_prog</th>
                <th>Crse_repeatable</th>
                <th>Units repeat limit</th>
                <th>Crse repeat limit</th>
                <th>Grading basis</th>
                <th>Grade roaster print</th>
                <th>SSR Component</th>
                <th>Course Title Long</th>
                <th>Component Primary</th>
                <th>DescrLong</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let course of courseList">
                <td>{{course.CRSE_ID}}</td>
                <td>{{course.ACAD_GROUP}}</td>
                <td>{{course.SUBJECT}}</td>
                <td>{{course.CATALOG_NBR}}</td>
                <td>{{course.DESCR}}</td>
                <td>{{course.EFFDT}}</td>
                <td>{{course.EFF_STATUS}}</td>
                <td>{{course.EQUIV_CRSE_ID}}</td>
                <td>{{course.CONSENT}}</td>
                <td>{{course.ALLOW_MULT_ENROLL}}</td>
                <td>{{course.UNITS_REPEAT_LIMIT}}</td>
                <td>{{course.CRSE_REPEAT_LIMIT}}</td>
                <td>{{course.GRADING_BASIS}}</td>
                <td>{{course.GRADE_ROASTER_PRINT}}</td>
                <td>{{course.SSR_COMPONENT}}</td>
                <td>{{course.COURSE_TITLE_LONG}}</td>
                <td>{{course.COMPONENT_PRIMARY}}</td>
                <td>{{course.DESCRLONG}}</td>
              </tr>
            </tbody>
          </table>
        </div>













    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
