<div class="jumbotron">
  <h1>DePaul University</h1>
  <h3> College of Computing and Digital Media</h3>
  <!--<div class="container">Administrator</div>-->
  <div class="text-right">Signed in as <strong style="color: crimson">Administrator</strong></div>
</div>
<p style="padding-left: 5em"><strong>Search for a student</strong></p>

<div class="container">
  <form class="form-group">
    <div class="row">
      <div class="col-auto">
        <input type="text" class="form-control" placeholder="First name">
      </div>
      <div class="col-auto">
        <input type="text" class="form-control" placeholder="Last name">
      </div>
      <div class="col-auto">
        <input type="text" class="form-control" placeholder="Student ID">
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-2">Search</button>
      </div>
    </div>
  </form>
</div>

