<div class="jumbotron">
  <h1>DePaul University</h1>
  <h3> College of Computing and Digital Media</h3>
  <div class="text-right">Signed in as <strong style="color: crimson">Administrator</strong></div>
</div>


<!-- A logo that takes you back to home -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/home" routerLinkActive="active">
        <img alt="Logo" src="assets/images/depaul_icon2.jpg" width="50" height="50">
      </a>
    </div>
  </div>
</nav>



<p style="padding-left: 5em"><strong>Search for a student or faculty</strong></p>

<div class="container">
  <form class="form-group">
    <div class="row">
      <div class="col-auto">
        <input type="text" class="form-control" placeholder="First name">
      </div>
      <div class="col-auto">
        <input type="text" class="form-control" placeholder="Last name">
      </div>
      <div class="col-auto">
        <input type="text" class="form-control" placeholder="ID number">
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-2">Search</button>
      </div>
    </div>
  </form>
</div>
